xtdl-0_6.dtd

<!-- Generated by Relaxer 1.1b -->
<!-- Fri Jan 06 20:22:59 JST 2006 -->

<!ELEMENT table (caption?, (colgroup* | col*)?, (tr+ | (thead?, tfoot?, tbody+)))>
<!ATTLIST table width CDATA #IMPLIED>
<!ATTLIST table border CDATA #IMPLIED>
<!ATTLIST table frame (void|above|below|hsides|lhs|rhs|vsides|box|border) "void">
<!ATTLIST table rules (none|groups|rows|cols|all) "none">
<!ATTLIST table cellspacing CDATA #IMPLIED>
<!ATTLIST table cellpadding CDATA #IMPLIED>
<!ATTLIST table id ID #IMPLIED>
<!ATTLIST table class NMTOKENS #IMPLIED>
<!ATTLIST table title CDATA #IMPLIED>
<!ATTLIST table lang CDATA #IMPLIED>
<!ATTLIST table summary CDATA #IMPLIED>

<!ELEMENT colgroup (col*)>
<!ATTLIST colgroup id ID #IMPLIED>
<!ATTLIST colgroup class NMTOKENS #IMPLIED>
<!ATTLIST colgroup title CDATA #IMPLIED>
<!ATTLIST colgroup lang CDATA #IMPLIED>
<!ATTLIST colgroup span CDATA #IMPLIED>
<!ATTLIST colgroup width CDATA #IMPLIED>
<!ATTLIST colgroup align (left|center|right|justify|char) "left">
<!ATTLIST colgroup char CDATA #IMPLIED>
<!ATTLIST colgroup charoff CDATA #IMPLIED>
<!ATTLIST colgroup valign (top|middle|bottom|baseline) "top">

<!ELEMENT kbd (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST kbd id ID #IMPLIED>
<!ATTLIST kbd class NMTOKENS #IMPLIED>
<!ATTLIST kbd title CDATA #IMPLIED>
<!ATTLIST kbd lang CDATA #IMPLIED>

<!ELEMENT p (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST p id ID #IMPLIED>
<!ATTLIST p class NMTOKENS #IMPLIED>
<!ATTLIST p title CDATA #IMPLIED>
<!ATTLIST p lang CDATA #IMPLIED>

<!ELEMENT caption (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST caption id ID #IMPLIED>
<!ATTLIST caption class NMTOKENS #IMPLIED>
<!ATTLIST caption title CDATA #IMPLIED>
<!ATTLIST caption lang CDATA #IMPLIED>

<!ELEMENT col EMPTY>
<!ATTLIST col id ID #IMPLIED>
<!ATTLIST col class NMTOKENS #IMPLIED>
<!ATTLIST col title CDATA #IMPLIED>
<!ATTLIST col lang CDATA #IMPLIED>
<!ATTLIST col span CDATA #IMPLIED>
<!ATTLIST col width CDATA #IMPLIED>
<!ATTLIST col align (left|center|right|justify|char) "left">
<!ATTLIST col char CDATA #IMPLIED>
<!ATTLIST col charoff CDATA #IMPLIED>
<!ATTLIST col valign (top|middle|bottom|baseline) "top">

<!ELEMENT algorithm (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST algorithm id ID #REQUIRED>
<!ATTLIST algorithm title CDATA #IMPLIED>
<!ATTLIST algorithm metadata CDATA #IMPLIED>

<!ELEMENT q (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST q id ID #IMPLIED>
<!ATTLIST q class NMTOKENS #IMPLIED>
<!ATTLIST q title CDATA #IMPLIED>
<!ATTLIST q lang CDATA #IMPLIED>
<!ATTLIST q cite CDATA #IMPLIED>

<!ELEMENT tr (td | th)+>
<!ATTLIST tr id ID #IMPLIED>
<!ATTLIST tr class NMTOKENS #IMPLIED>
<!ATTLIST tr title CDATA #IMPLIED>
<!ATTLIST tr lang CDATA #IMPLIED>
<!ATTLIST tr align (left|center|right|justify|char) "left">
<!ATTLIST tr char CDATA #IMPLIED>
<!ATTLIST tr charoff CDATA #IMPLIED>
<!ATTLIST tr valign (top|middle|bottom|baseline) "top">

<!ELEMENT th (#PCDATA | ul | ol | dl | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img | address | blockquote | div | p | pre | h1 | h2 | h3 | h4 | h5 | h6 | table)*>
<!ATTLIST th id ID #IMPLIED>
<!ATTLIST th class NMTOKENS #IMPLIED>
<!ATTLIST th title CDATA #IMPLIED>
<!ATTLIST th lang CDATA #IMPLIED>
<!ATTLIST th abbr CDATA #IMPLIED>
<!ATTLIST th axis CDATA #IMPLIED>
<!ATTLIST th headers IDREFS #IMPLIED>
<!ATTLIST th scope (row|col|rowgroup|colgroup) "row">
<!ATTLIST th rowspan CDATA #IMPLIED>
<!ATTLIST th colspan CDATA #IMPLIED>
<!ATTLIST th align (left|center|right|justify|char) "left">
<!ATTLIST th char CDATA #IMPLIED>
<!ATTLIST th charoff CDATA #IMPLIED>
<!ATTLIST th valign (top|middle|bottom|baseline) "top">

<!ELEMENT tfoot (tr+)>
<!ATTLIST tfoot id ID #IMPLIED>
<!ATTLIST tfoot class NMTOKENS #IMPLIED>
<!ATTLIST tfoot title CDATA #IMPLIED>
<!ATTLIST tfoot lang CDATA #IMPLIED>
<!ATTLIST tfoot align (left|center|right|justify|char) "left">
<!ATTLIST tfoot char CDATA #IMPLIED>
<!ATTLIST tfoot charoff CDATA #IMPLIED>
<!ATTLIST tfoot valign (top|middle|bottom|baseline) "top">

<!ELEMENT code (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST code id ID #IMPLIED>
<!ATTLIST code class NMTOKENS #IMPLIED>
<!ATTLIST code title CDATA #IMPLIED>
<!ATTLIST code lang CDATA #IMPLIED>

<!ELEMENT td (#PCDATA | ul | ol | dl | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img | address | blockquote | div | p | pre | h1 | h2 | h3 | h4 | h5 | h6 | table)*>
<!ATTLIST td id ID #IMPLIED>
<!ATTLIST td class NMTOKENS #IMPLIED>
<!ATTLIST td title CDATA #IMPLIED>
<!ATTLIST td lang CDATA #IMPLIED>
<!ATTLIST td abbr CDATA #IMPLIED>
<!ATTLIST td axis CDATA #IMPLIED>
<!ATTLIST td headers IDREFS #IMPLIED>
<!ATTLIST td scope (row|col|rowgroup|colgroup) "row">
<!ATTLIST td rowspan CDATA #IMPLIED>
<!ATTLIST td colspan CDATA #IMPLIED>
<!ATTLIST td align (left|center|right|justify|char) "left">
<!ATTLIST td char CDATA #IMPLIED>
<!ATTLIST td charoff CDATA #IMPLIED>
<!ATTLIST td valign (top|middle|bottom|baseline) "top">

<!ELEMENT section (section* | example* | definition* | proof* | examination* | simulation* | explanation* | algorithm* | program* | illustration*)*>
<!ATTLIST section id ID #REQUIRED>
<!ATTLIST section title CDATA #IMPLIED>
<!ATTLIST section metadata CDATA #IMPLIED>

<!ELEMENT a (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST a id ID #IMPLIED>
<!ATTLIST a class NMTOKENS #IMPLIED>
<!ATTLIST a title CDATA #IMPLIED>
<!ATTLIST a lang CDATA #IMPLIED>
<!ATTLIST a href CDATA #IMPLIED>
<!ATTLIST a charset CDATA #IMPLIED>
<!ATTLIST a type CDATA #IMPLIED>
<!ATTLIST a hreflang CDATA #IMPLIED>
<!ATTLIST a rel NMTOKENS #IMPLIED>
<!ATTLIST a rev NMTOKENS #IMPLIED>
<!ATTLIST a accesskey CDATA #IMPLIED>
<!ATTLIST a tabindex CDATA #IMPLIED>

<!ELEMENT abbr (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST abbr id ID #IMPLIED>
<!ATTLIST abbr class NMTOKENS #IMPLIED>
<!ATTLIST abbr title CDATA #IMPLIED>
<!ATTLIST abbr lang CDATA #IMPLIED>

<!ELEMENT h4 (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST h4 id ID #IMPLIED>
<!ATTLIST h4 class NMTOKENS #IMPLIED>
<!ATTLIST h4 title CDATA #IMPLIED>
<!ATTLIST h4 lang CDATA #IMPLIED>

<!ELEMENT pre (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST pre id ID #IMPLIED>
<!ATTLIST pre class NMTOKENS #IMPLIED>
<!ATTLIST pre title CDATA #IMPLIED>
<!ATTLIST pre lang CDATA #IMPLIED>
<!ATTLIST pre space (preserve) "preserve">

<!ELEMENT var (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST var id ID #IMPLIED>
<!ATTLIST var class NMTOKENS #IMPLIED>
<!ATTLIST var title CDATA #IMPLIED>
<!ATTLIST var lang CDATA #IMPLIED>

<!ELEMENT proof (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST proof id ID #REQUIRED>
<!ATTLIST proof title CDATA #IMPLIED>
<!ATTLIST proof metadata CDATA #IMPLIED>

<!ELEMENT em (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST em id ID #IMPLIED>
<!ATTLIST em class NMTOKENS #IMPLIED>
<!ATTLIST em title CDATA #IMPLIED>
<!ATTLIST em lang CDATA #IMPLIED>

<!ELEMENT strong (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST strong id ID #IMPLIED>
<!ATTLIST strong class NMTOKENS #IMPLIED>
<!ATTLIST strong title CDATA #IMPLIED>
<!ATTLIST strong lang CDATA #IMPLIED>

<!ELEMENT dt (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST dt id ID #IMPLIED>
<!ATTLIST dt class NMTOKENS #IMPLIED>
<!ATTLIST dt title CDATA #IMPLIED>
<!ATTLIST dt lang CDATA #IMPLIED>

<!ELEMENT thead (tr+)>
<!ATTLIST thead id ID #IMPLIED>
<!ATTLIST thead class NMTOKENS #IMPLIED>
<!ATTLIST thead title CDATA #IMPLIED>
<!ATTLIST thead lang CDATA #IMPLIED>
<!ATTLIST thead align (left|center|right|justify|char) "left">
<!ATTLIST thead char CDATA #IMPLIED>
<!ATTLIST thead charoff CDATA #IMPLIED>
<!ATTLIST thead valign (top|middle|bottom|baseline) "top">

<!ELEMENT h5 (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST h5 id ID #IMPLIED>
<!ATTLIST h5 class NMTOKENS #IMPLIED>
<!ATTLIST h5 title CDATA #IMPLIED>
<!ATTLIST h5 lang CDATA #IMPLIED>

<!ELEMENT address (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST address id ID #IMPLIED>
<!ATTLIST address class NMTOKENS #IMPLIED>
<!ATTLIST address title CDATA #IMPLIED>
<!ATTLIST address lang CDATA #IMPLIED>

<!ELEMENT h6 (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST h6 id ID #IMPLIED>
<!ATTLIST h6 class NMTOKENS #IMPLIED>
<!ATTLIST h6 title CDATA #IMPLIED>
<!ATTLIST h6 lang CDATA #IMPLIED>

<!ELEMENT blockquote (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST blockquote id ID #IMPLIED>
<!ATTLIST blockquote class NMTOKENS #IMPLIED>
<!ATTLIST blockquote title CDATA #IMPLIED>
<!ATTLIST blockquote lang CDATA #IMPLIED>
<!ATTLIST blockquote cite CDATA #IMPLIED>

<!ELEMENT h2 (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST h2 id ID #IMPLIED>
<!ATTLIST h2 class NMTOKENS #IMPLIED>
<!ATTLIST h2 title CDATA #IMPLIED>
<!ATTLIST h2 lang CDATA #IMPLIED>

<!ELEMENT div (#PCDATA | ul | ol | dl | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img | address | blockquote | div | p | pre | h1 | h2 | h3 | h4 | h5 | h6 | table)*>
<!ATTLIST div id ID #IMPLIED>
<!ATTLIST div class NMTOKENS #IMPLIED>
<!ATTLIST div title CDATA #IMPLIED>
<!ATTLIST div lang CDATA #IMPLIED>

<!ELEMENT ul (li+)>
<!ATTLIST ul id ID #IMPLIED>
<!ATTLIST ul class NMTOKENS #IMPLIED>
<!ATTLIST ul title CDATA #IMPLIED>
<!ATTLIST ul lang CDATA #IMPLIED>

<!ELEMENT img EMPTY>
<!ATTLIST img id ID #IMPLIED>
<!ATTLIST img class NMTOKENS #IMPLIED>
<!ATTLIST img title CDATA #IMPLIED>
<!ATTLIST img lang CDATA #IMPLIED>
<!ATTLIST img src CDATA #REQUIRED>
<!ATTLIST img alt CDATA #REQUIRED>
<!ATTLIST img longdesc CDATA #IMPLIED>
<!ATTLIST img height CDATA #IMPLIED>
<!ATTLIST img width CDATA #IMPLIED>

<!ELEMENT tbody (tr+)>
<!ATTLIST tbody id ID #IMPLIED>
<!ATTLIST tbody class NMTOKENS #IMPLIED>
<!ATTLIST tbody title CDATA #IMPLIED>
<!ATTLIST tbody lang CDATA #IMPLIED>
<!ATTLIST tbody align (left|center|right|justify|char) "left">
<!ATTLIST tbody char CDATA #IMPLIED>
<!ATTLIST tbody charoff CDATA #IMPLIED>
<!ATTLIST tbody valign (top|middle|bottom|baseline) "top">

<!ELEMENT dd (#PCDATA | ul | ol | dl | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img | address | blockquote | div | p | pre | h1 | h2 | h3 | h4 | h5 | h6 | table)*>
<!ATTLIST dd id ID #IMPLIED>
<!ATTLIST dd class NMTOKENS #IMPLIED>
<!ATTLIST dd title CDATA #IMPLIED>
<!ATTLIST dd lang CDATA #IMPLIED>

<!ELEMENT example (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST example id ID #REQUIRED>
<!ATTLIST example title CDATA #IMPLIED>
<!ATTLIST example metadata CDATA #IMPLIED>

<!ELEMENT h1 (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST h1 id ID #IMPLIED>
<!ATTLIST h1 class NMTOKENS #IMPLIED>
<!ATTLIST h1 title CDATA #IMPLIED>
<!ATTLIST h1 lang CDATA #IMPLIED>

<!ELEMENT definition (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST definition id ID #REQUIRED>
<!ATTLIST definition title CDATA #IMPLIED>
<!ATTLIST definition metadata CDATA #IMPLIED>

<!ELEMENT examination (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST examination id ID #REQUIRED>
<!ATTLIST examination title CDATA #IMPLIED>
<!ATTLIST examination metadata CDATA #IMPLIED>

<!ELEMENT xtdl (section)>

<!ELEMENT simulation (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST simulation id ID #REQUIRED>
<!ATTLIST simulation title CDATA #IMPLIED>
<!ATTLIST simulation metadata CDATA #IMPLIED>

<!ELEMENT explanation (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST explanation id ID #REQUIRED>
<!ATTLIST explanation title CDATA #IMPLIED>
<!ATTLIST explanation metadata CDATA #IMPLIED>

<!ELEMENT cite (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST cite id ID #IMPLIED>
<!ATTLIST cite class NMTOKENS #IMPLIED>
<!ATTLIST cite title CDATA #IMPLIED>
<!ATTLIST cite lang CDATA #IMPLIED>

<!ELEMENT dl (dd | dt)+>
<!ATTLIST dl id ID #IMPLIED>
<!ATTLIST dl class NMTOKENS #IMPLIED>
<!ATTLIST dl title CDATA #IMPLIED>
<!ATTLIST dl lang CDATA #IMPLIED>

<!ELEMENT illustration (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST illustration id ID #REQUIRED>
<!ATTLIST illustration title CDATA #IMPLIED>
<!ATTLIST illustration metadata CDATA #IMPLIED>

<!ELEMENT dfn (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST dfn id ID #IMPLIED>
<!ATTLIST dfn class NMTOKENS #IMPLIED>
<!ATTLIST dfn title CDATA #IMPLIED>
<!ATTLIST dfn lang CDATA #IMPLIED>

<!ELEMENT samp (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST samp id ID #IMPLIED>
<!ATTLIST samp class NMTOKENS #IMPLIED>
<!ATTLIST samp title CDATA #IMPLIED>
<!ATTLIST samp lang CDATA #IMPLIED>

<!ELEMENT li (#PCDATA | ul | ol | dl | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img | address | blockquote | div | p | pre | h1 | h2 | h3 | h4 | h5 | h6 | table)*>
<!ATTLIST li id ID #IMPLIED>
<!ATTLIST li class NMTOKENS #IMPLIED>
<!ATTLIST li title CDATA #IMPLIED>
<!ATTLIST li lang CDATA #IMPLIED>

<!ELEMENT br EMPTY>
<!ATTLIST br id ID #IMPLIED>
<!ATTLIST br class NMTOKENS #IMPLIED>
<!ATTLIST br title CDATA #IMPLIED>

<!ELEMENT h3 (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST h3 id ID #IMPLIED>
<!ATTLIST h3 class NMTOKENS #IMPLIED>
<!ATTLIST h3 title CDATA #IMPLIED>
<!ATTLIST h3 lang CDATA #IMPLIED>

<!ELEMENT program (table | h5 | address | h1 | h6 | p | blockquote | dl | h2 | div | ul | h3 | h4 | ol | pre)+>
<!ATTLIST program id ID #REQUIRED>
<!ATTLIST program title CDATA #IMPLIED>
<!ATTLIST program metadata CDATA #IMPLIED>

<!ELEMENT span (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST span id ID #IMPLIED>
<!ATTLIST span class NMTOKENS #IMPLIED>
<!ATTLIST span title CDATA #IMPLIED>
<!ATTLIST span lang CDATA #IMPLIED>

<!ELEMENT ol (li+)>
<!ATTLIST ol id ID #IMPLIED>
<!ATTLIST ol class NMTOKENS #IMPLIED>
<!ATTLIST ol title CDATA #IMPLIED>
<!ATTLIST ol lang CDATA #IMPLIED>

<!ELEMENT acronym (#PCDATA | abbr | acronym | br | cite | code | dfn | em | kbd | q | samp | span | strong | var | a | img)*>
<!ATTLIST acronym id ID #IMPLIED>
<!ATTLIST acronym class NMTOKENS #IMPLIED>
<!ATTLIST acronym title CDATA #IMPLIED>
<!ATTLIST acronym lang CDATA #IMPLIED>
